.header {
  //border: deeppink dashed 3px;
  display: flex;
  flex-direction: row;

  &__figure {
    //background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    //border: 2px dashed blue;
    //background-color: lightgrey;
    padding: 4rem 0rem 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__title {
    @include card_h1;
  }

  &__link {
    @include link;
    color: black;
  }

  &__link-blue {
    @include link;
    font-weight: bold;
    color: $color-light;
  }

  &__link:hover {
    @include link-hover;
    font-style: italic;
  }

  &__link-blue:hover {
    @include link-hover;
  }

  &__positions {
    padding: 1em 0rem 1rem 0rem;
  }

  &__ctt-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    padding: 0px 10% 1% 0%;
    align-self: auto;
  }

  &__bttns-container {
    @include bttns-container;
  }
}
