$color-light: #005c99;
$color-dark: #00394d;

@import './main.module';
@import './header.module';
@import './body.module';




@media (min-width: 480px) {
  .main{
    background-color: black;
  }
}

@media (min-width: 800px) {
  .main{
    background-color: transparent;
  }
}