.body {
  //background-color: crimson;
  display: flex;
  //width: 100%;

  &__left /*left body container*/ {
    //background-color: chartreuse ;
    width: 70%;
    padding-right: 5%;

    .expcard {
      &__title {
        border-bottom: solid;
        text-transform: uppercase;
        color: $color-dark;
      }
      &__position {
        text-transform: capitalize;
        font-size: larger;
      }
      &__company {
        color: $color-light;
        font-size: medium;
      }

      .date {
        display: flex;
        flex-direction: row;
        padding-right: 1.5rem;
        &__icon {
          color: $color-light;
          margin-right: 0.1rem;
        }
      }
    }

    .prycard /*proyect card*/ {
      &__title {
        @extend .expcard__title;
      }
      &__pry {
        @extend .expcard__position;
      }
    }
  }

  &__right {
    width: 30%;
    //background-color: gray;
    .philosophycard {
      //border: dashed blue 3px;
      &__title {
        border-bottom: solid;
        text-transform: uppercase;
        color: $color-dark;
      }
    }
  }
}
