.expcard /*experience component*/{

    &__title{
        border-bottom: solid;
        text-transform: uppercase;
        color: $color-dark;
    }
    &__position{
        text-transform:capitalize;
        font-size: larger;
    }
    &__company{
        color: $color-light;
        font-size: medium;
    }
}