.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //@extend .with-border
}

.with-border {
  border: dashed 3px black;
}

.with-bg {
  background-color: red;
}